/* Write the CSS for you answer here */

#bg{ z-index: 0;
    }


#tree {
    position: fixed;
    top: 120px;
    left: 10px;
width: 700px;
z-index: 2;}

#lightBlue { position: absolute; 
top: 200px;
left: 175px;
z-index: 3;
}
#darkBlue { position: absolute; 
    top: 275px;
    left: 335px;
    z-index: 3;
    }

#orange {position: absolute;
top: 290px;
left: 600px;
z-index: 3;}


#red{position: absolute; 
                    top: 400px;
                    left: 40px;
                    z-index: 3; 
                width: 50px;
            transition: width 2s ease;}
 #pink {position: absolute;
                    top: 400px;
                    left: 440px;
                    z-index: 1;
                }
#green {position: absolute;
top: 320px;
left: 480px;
z-index: 3;}

#red:hover {
/* transition-property: width; */
animation-name: bounce;
animation-duration: 4s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

#green:hover {
    /* transition-property: width; */
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    }
    #darkBlue:hover {
        /* transition-property: width; */
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        }
        #lightBlue:hover {
            /* transition-property: width; */
            animation-name: bounce;
            animation-duration: 4s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            
            }

            #orange:hover{
                /* transition-property: width; */
                animation-name: bounce;
                animation-duration: 2s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                animation-timing-function: ease;
                }

@keyframes bounce {
    from {
        
    }
    25%{
        top: 450px; }

    50%{ 
        top: 400px;}


    to{
        top: 475px;}
}