/* Write the CSS for you answer here */

#bg{ z-index: -2;
    }


#tree {
    position: fixed;
    top: 120px;
    left: 10px;
width: 700px;
z-index: -0;}

#lightBlue { position: absolute; 
top: 200px;
left: 175px;
z-index: 0;
}
#darkBlue { position: absolute; 
    top: 275px;
    left: 335px;
    z-index: 0;
    }

#orange {position: absolute;
top: 290px;
left: 600px;
z-index: 0;}


#red{position: absolute; 
                    top: 400px;
                    left: 40px;
                    z-index: 0; 
                width: 50px;
            transition: width 2s ease;}
 #pink {position: absolute;
                    top: 400px;
                    left: 440px;
                    z-index: 0;
                }
#green {position: absolute;
top: 320px;
left: 480px;
z-index: 0;}

#red:hover {width: 100px;
transition-property: width;
transition-duration: 4s;
transition-timing-function: ease;
}