/* Write the CSS for you answer here */

#bg{ z-index: -3;
    
}
#tree {
    position: fixed;
    top: 120px;
    left: 10px;
width: 700px;
z-index: 0;}

#lightBlue { position: relative; 
top: -250px;
left: -550px;
z-index: 0;
}
#darkBlue { position: relative; 
    top: -210px;
    left: -400px;
    z-index: 0;
    }

#orange {position: relative;
top: -230px;
left: 500px;
z-index: 0;}


#red{position: relative; 
                    top: -220px;
                    left: -20px;
                    z-index: 0; }
 #pink {position: relative;
                    top: -200px;
                    left: 325px;
                    z-index: -1;
                }
#green {position: relative;
top: -325px;
left: 450px;
z-index: 0;}